@charset "utf-8";
/* CSS Document */

    
               body 
               {
                   background-color: black;
                   font-family: "Baskerville";
				   background-image: url("dragon.jpeg");
				   background-size:cover;
               } 
               
               h1
               {
                   font-size: 30px;
                   font-family: Baskerville;
				   color:goldenrod;
				   text-decoration:underline;
				   background-color:rgba(160,0,2,0.30);
				   
               }
               
               h2
               {
                   font-size: 25px;
                   font-family: Impact;
				   
                   
               }
			   h2:hover{
				   resize: both
			   }
               
               h3
               {
                   font-size: 25px;
				   font-family: Impact;
               }
               
               p
               {
                   font-size: 20px; 
				   color:goldenrod;
				   
                   
               }
                p1
               {
                   font-size: 20px; 
				   color:goldenrod;
				   text-shadow: 1px 2px 1px red
				   
				   
                   
               }
			   acronym{
				   color:goldenrod;
				   text-decoration: underline;
				   
			   }
			   acronym:hover{
				   background-color:crimson;
				   color:white;

               
}